---
import { CollectionEntry, getCollection } from "astro:content";
import { Image } from 'astro:assets';
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";
import Emphasized from '../../components/shared/emphasized/Emphasized.astro';
import { generatePathFromTitleAndSlug } from "src/utils/generatePathFromTitleAndSlug";

const components = {em: Emphasized};

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: generatePathFromTitleAndSlug(post.data.title, post.slug) },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
  <main class="post flex w-full flex-col gap-4">
    <header role="presentation" class="pb-3">
      <h1 class="text-5xl pb-3 font-bold">
        {post.data.title}
      </h1>
      <p class="text-sm pb-5">{formatDate(post.data.publishedAt)}</p>
      <figure class="flex flex-col items-center">
        <Image src={post.data.image.source} class="w-2/3" alt="alt"/>
        <figcaption class="text-xs pt-3">{post.data.image.link ? <a href={post.data.image.link}>{post.data.image.description}</a> : post.data.image.description || ''}</figcaption>
      </figure>
    </header>

    <Content components={components}/>
  </main>
  <div class="giscus" />
</Layout>
